<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <a href="{% url 'home-url' %}"><button class="btn btn-info">Home</button></a>
    <a href="{% url 'create-products-url' %}"><button class="btn btn-secondary">Add products</button></a>
    <a href="{% url 'all-products-url' %}"><button class="btn btn-success">View products</button></a>
    <hr>
    {% if messages %}
        {% for message in messages%}
            <p class="text-center text-success">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>